/* KEYFRAMES */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* PORTFOLIO COLLECTION */

#filter-ui, #filter-category-list {
   display: none;
}

.disable-scroll {
    #filter-ui {
        display: none !important;
    }
}




