<!-- target portfolio page id="portfolio-list" -->
<div class="app-wrapper" v-bind:class="{ loaded: lifecycle.appLoaded, loading: isLoading }">
    <div class="current-filter">
        <span class="current-filter__label">Filtering By:</span>
        <span class="current-filter__text">{{currentFilter}}</span>
    </div>
    <transition-group name="list-complete" tag="div" class="collection-list">
        <div v-model="item" v-for="item in items" :key="item.id" class="item" :data-item-id="item.id" :class="item | applyItemClasses">
            <a v-bind:href="item.fullUrl" class="inner-content" v-on:click="navigateToUrl">
                <div class="media-wrapper" v-if="item.colorData" v-bind:style="item.colorData | suggestedColor">
                    <item-image :item="item"></item-image>
                </div>
                <div class="meta-content">
                    <div class="info">
                        <span class="title excerpt" v-if="displayOptions.excerpt" v-html="item.excerpt"></span>
                        <div class="title" v-if="displayOptions.title">
                            {{item.title}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </transition-group>
    <div class="loader-bottom"><div class="spinner"></div></div>
</div>